#upload-circle {
    margin-top: 3em;
    height: 70vh;
    width: 70vh;
    border-radius: 50%;

    padding-top: 5vh;
}

#download-button {
    position: absolute;
    bottom: 0.8em;
    right: 0.8em;
}

.rotate-right {
    transform: rotate(45deg);
    margin: 85px 0 0 25px;
}

.rotate-left {
    transform: rotate(-45deg);
    margin: 85px 25px 0 0;
}

@media (max-width: 576px) {
    .rotate-left, .rotate-right {
        display: none;
    }
}