<div class="container-fluid">
  <div class="row w-100 justify-content-center align-items-center">
    <div class="row">
        <div id="upload-circle" class="bg-primary text-center z-depth-4">
            <div>
              <img class="rotate-left" src="assets/brand/file-drawing.png" height="115" width="85"/>
              <img src="assets/brand/file-drawing.png" height="115" width="85"/>
              <img class="rotate-right" src="assets/brand/file-drawing.png" height="115" width="85"/>
            </div>
            <div class="text-white pt-5">
                <h4 class="mb-1">Upload your exam!</h4>
                <p>
                  Drag and drop your exam<br/>
                  or click and select to upload.
                </p>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
      <button type="button" id="download-button" class="btn btn-lg btn-info float-right">
        <i class="fas fa-download"></i>
      </button>
  </div>
</div>