#main-container {
    height: 100vh;
    background: white url("assets/brand/branding-background.png") no-repeat bottom left;
    background-size: 120vh;
}
#form-header {
    position: absolute;
    height: auto;
    padding: 0.5em 1em;
    top: -2em;
    left: 0;
}