<div id="main-container" class="container-fluid">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-8 offset-3 col-md-6 offset-md-5 col-lg-4 offset-lg-7 z-depth-2 bg-white">
        <div id="form-header" class="col-8 offset-2 bg-primary text-white text-center">
          <h1 class="font-weight-bold">
            <i class="fas fa-lock"></i> Login
          </h1>
        </div>
        <form id="form-body" class="pt-5 pb-5 pr-3 pl-3 form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name"><i class="fas fa-user"></i></label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="firstname lastname" formControlName="name" required>
            <!-- <small id="nameHelp" class="form-text text-muted">Please enter your firstname and lastname seperated with a space.</small> -->
          </div>
          <div class="form-group">
            <label for="studentNumber"><i class="fas fa-hashtag"></i></label>
            <input type="text" class="form-control" id="studentNumber" aria-describedby="studentNumberHelp" placeholder="11500848" formControlName="studentNumber" required>
            <!-- <small id="studentNumberHelp" class="form-text text-muted">Please enter your student number which can be found on your student card.</small> -->
          </div>
          <div class="form-group">
              <label for="course"><i class="fas fa-book"></i></label>
              <select class="form-control" id="course" aria-describedby="courseHelp" formControlName="course" required>
                <option value="" selected disabled hidden>Select course</option>
                <option value="1">Web Expert</option>
                <option value="2">Java Advanced</option>
              </select>
              <!-- <small id="courseHelp" class="form-text text-muted">Please select the course of your exam.</small> -->
          </div>
          <button type="submit" class="btn btn-primary w-50 offset-3 mt-4">Sign in</button>
        </form>
    </div>
  </div>
</div>